{% extends 'base.html' %} {% block content %}

<div class="content">
  <div class="">
    <div class="page-header-title">
      <h4 class="page-title">Últimos 10 Pacientes Prioritarios Mayores de edad</h4>
    </div>
  </div>

  <br />

  <div class="page-content-wrapper">
    <div class="container">
      <!-- Content page -->

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr style="color: #0eb0ad">
                <th font color="red">nombre</th>
                <th font color="red">documento</th>
                <th font color="red">prioridad</th>
                <th font color="red">fecha_nacimiento</th>
                <th font color="red">peso</th>
                <th>altura</th>
                <th>tipo_sangre</th>
              </tr>
            </thead>
            <tbody>
              {% for paciente in pacientes %}
              <tr>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.documento }}</td>
                <td>{{ paciente.prioridad }}</td>
                <td>{{ paciente.fecha_nacimiento }}</td>
                <td>{{ paciente.peso }}</td>
                <td>{{ paciente.altura }}</td>
                <td>{{ paciente.tipo_sangre }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div style="text-align: center">
            <button
              type="button"
              class="btn btn-primary waves-effect waves-light"
              onClick=" window.location.href='/' "
                >
                    <a href="/historiasclinicas/create" style="text-decoration: n
                    ; color: white;">
                      Create
                    </a>
            >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
