{% extends 'base.html' %} {% block content %}

<div class="content">
  <div class="">
    <div class="page-header-title">
      <h4 class="page-title">Últimas 10 historias clínicas</h4>
    </div>
  </div>

  <br />

  <div class="page-content-wrapper">
    <div class="container">
      <!-- Content page -->

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr style="color: #0eb0ad">
                <th font color="red">medicamentos</th>
                <th font color="red">procedimientos</th>
                <th font color="red">diagnosticos</th>
                <th font color="red">consultas</th>
                <th font color="red">paciente</th>
                <th>codigo</th>
                <th>fecha_creacion</th>
                <th>antecedentes</th>
                <th>alergias</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              {% for historia_clinica in historia_clinica_list %}
              <tr>
                <td>{{ historia_clinica.medicamentos.nombre }}</td>
                <td>{{ historia_clinica.procedimientos.nombre }}</td>
                <td>{{ historia_clinica.diagnosticos.nombre }}</td>
                <td>{{ historia_clinica.consultas.fecha }}</td>
                <td>{{ historia_clinica.paciente.nombre }}</td>
                <td>{{ historia_clinica.codigo }}</td>
                <td>{{ historia_clinica.fecha_creacion }}</td>
                <td>{{ historia_clinica.antecedentes }}</td>
                <td>{{ historia_clinica.alergias }}</td>
                <td><button
                  type="button"
                  class="btn btn-primary waves-effect waves-light"
                  onClick=" window.location.href='/' "
                >
                    <a href="/historias_clinicas/{{ historia_clinica.id }}/edit" style="text-decoration: n
                    ; color: white;">
                      Edit
                    </a>
                  </button>
                </button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div style="text-align: center">
            <button
              type="button"
              class="btn btn-primary waves-effect waves-light"
              onClick=" window.location.href='/' "
                >
                    <a href="/historias_clinicas/create" style="text-decoration: n
                    ; color: white;">
                      Create
                    </a>
            >
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
