{% extends 'base.html' %} {% block content %}

<div class="content">
  <div class="">
    <div class="page-header-title">
      <h4 class="page-title">Editar historia clinica de {{ form.paciente }}</h4>
    </div>
  </div>

  <br />

  <div class="page-content-wrapper">
    <div class="container">
      <!-- Content page -->

      <div class="panel panel-default">
        <div class="panel-body">
          <form action="" method="PUT">
            {% csrf_token %}
            <br>
            {{ form.as_p }} 
            <button type="submit" class="btn btn-success waves-effect waves-light">Guardar</button>
            <button type="button" class="btn btn-primary waves-effect waves-light"
              onClick=" window.location.href='/historias_clinicas' ">Volver
            </button>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}